/* Message bubbles */
div[aria-label='Messages'] div div div div div div {
  font-size: 16px;
}

/* poster names */
div[aria-label='Messages'] div div div div h5 {
  font-size: 14px;
}

/* action buttons */
div[aria-label='Messages'] div div div div span span {
/*   background-color: blue; */
}

/* new message button */
div[aria-label='New message'] div div div div div div div div[style="white-space: pre-wrap;"],
div[aria-label='New message'] span[data-text="true"],
div[aria-label='New message'] br[data-text="true"] {
  font-size:14px;
}

/* message sidebar and titles */
ul[aria-label="Conversation List"] div div div div span {
  font-size: 22px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
